.navbar-logo {
    padding: 10px 8px 10px 24px;
}
.enter a {
    text-decoration: none;
    padding: 10px 5px;
    color: #6e84a3 !important;
}
.enter a:hover {
    color: #12263f !important;
    cursor: pointer;
}

@media (max-width: 991px) {
    .top-navbar {
        display: none;
    }
    .enter-icon{
        font-size: 20px;
        padding-left: 5px;
    }
    .enter {
        display: none;
    }
}

@media (min-width: 992px) {
    .nav-link {
        padding: 0.625rem 1.2rem !important;
    }
    .enter-icon {
        display: none;
    }
}
