.nav-link {
    padding: 0.625rem 1.5rem !important;
}

.navbar-logo {
    padding: 10px 10px 10px 24px;
}
.enter a{
    text-decoration: none;
    padding: 10px 5px;
    color: #6e84a3 !important;
}
.enter a:hover{
    color: #12263f !important;
    cursor: pointer;
}