@charset "UTF-8";
@import url('fonts.css');

body {
    font-family: chapebahar !important;
    font-size: 16px !important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: chapebahar !important;
}

.test {}