.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    transition: 0.5s;
}

.dots {
    text-align: center;

    a {
        display: inline-block;
        border: 1px solid darkgray;
        border-radius: 20px;
        width: 5px;
        height: 5px;
        margin: 1px;
        padding: 3px;
    }

    a:active {
        background-color: rgb(165, 165, 165);
    }
}

.slider {
    div.slide {
        padding: 10px 10px 0px 10px;
    }
}

.slides {
    scroll-behavior: smooth;

    div {
        scroll-snap-align: start;
    }

    div:target {
        transform: scale(0.8);
    }
}

.slide {
    flex-shrink: 0;
}

::-webkit-scrollbar {
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}