.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    transition: 0.5s;
}

.dots {
    text-align: center;

    a {
        display: inline-block;
        border: 1px solid darkgray;
        border-radius: 20px;
        width: 5px;
        height: 5px;
        margin: 1px;
        padding: 3px;
    }

    a:active {
        background-color: rgb(165, 165, 165);
    }
}

.slider {
    div.slide {
        padding: 10px;
    }
}

.slides {
    scroll-behavior: smooth;

    div {
        scroll-snap-align: start;
    }

    div:target {
        transform: scale(0.8);
    }
}

.slide {
    flex-shrink: 0;
}





::-webkit-scrollbar {
    height: 18px;
}

::-webkit-scrollbar-thumb {
    border: 8px solid rgba(255, 255, 255, 0);
    border-left: 0;
    border-right: 0;
    background-clip: padding-box;
    -webkit-border-radius: 1px;
    background-color: rgb(145, 145, 145);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}